

#mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.animated-icon {
  width: 20px;
  height: 20px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 50%;
  box-shadow: 0px 0px 4px white;
  transition: all 1s;
}

.leaflet-popup-tip {
  background-color: #B7B7B7;
}

.leaflet-popup-content-wrapper{
  background: #B7B7B7;
}
