$popup-width: 480px;
$icon-fill: lighten($secondary, 20%);
$icon-size: 20px;
$icon-spacing: 0.45rem;

.leaflet-popup-close-button {
  display: none;
}

// container
.leaflet-popup-tip-container {
  // border: 3px solid red;
  bottom: -18px;
}

.leaflet-popup-tip {
  background-color: #f1f1f1;
  border: 1px solid #333;
}

.leaflet-popup-content-wrapper{
  background: #f1f1f1;
  border: 2px solid #333;
  padding: 0.35rem 0;
}

.leaflet-popup-content{
  min-width: $popup-width;
}

.leaflet-control-attribution {
  background:rgba(#333, 0.75) !important;
  color: #999;
  a {
    color: #ccc;
  }
}

// event
.event {
  .event__date {
    text-align: center;
    margin-bottom: 0.75rem;
  }

  .date {
    display: inline-block;
    line-height: 1;
    font-size: 1.5rem;
    font-weight: $fw-bold;
  }

  .time {
    display: inline-block;
    line-height: 1;
    font-weight: $fw-medium;
    margin-left: 0.25rem;
    font-size: 1.15rem;
  }
}


// artist
.artists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  place-content: center;
}


.artist {
  margin-top: 1rem;
  text-align: center;

  .artist__image img {
    width: 100px;
    height: 100px;
  }

  .artist__name {
    margin-top: 0.5rem;
    font-size: 1rem;
  }

  .show-more {
    letter-spacing: 0.015rem;
    font-weight: $fw-medium;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .links .link {
    display: inline-block;
    margin-right: $icon-spacing;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .links svg {
    width: $icon-size;
    fill: $icon-fill;
    transition: all 0.25s ease-in-out;
  }

  .links:hover svg {
    transition: all 0.25s ease-in-out;
  }

  .songkick:hover svg {
    fill: $songkick;
  }

  .lastfm:hover svg {
    fill: $lastfm;
  }

  .spotify:hover svg {
    fill: $spotify;
  }

  .youtube:hover svg {
    fill: $youtube;
  }


}

.top-tracks {
  .track {
    margin-bottom: 0.25rem;
  }
}

.genres {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  text-align: center;
  .genre {
    font-size: 0.8rem;
    margin: 0 0.25rem 0.5rem 0.25rem;
    font-weight: $fw-base;
  }
}

// venue
.venue {

  .venue__title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .venue__name {
      margin-bottom: 0;
      font-size: 1.75rem;
    }

    .rating {
      margin-left: 0.5rem;
      display: inline-block;
      line-height: 1;
      border-radius: 0.15rem;
      padding: 0.25rem 0.2rem;
      color: white;
    }
  }


  .venue__description {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 0.9rem;
    text-align: center;
  }


  .venue__contact {
    text-align: center;
    margin-top: 0.75rem;

    a {
      margin-right: $icon-spacing*2;

      &:last-of-type {
        margin-right: 0;
      }
    }

    svg {
      width: $icon-size;
      fill: $icon-fill;
    }
  }

  .venue__address {
    text-align: center;
    margin-top: 0.25rem;
    // font-style: italic;
    font-size: 1rem;
    color: $gray-600;

    .street + .zip:before {
      content: ', ';
    }
    .zip + .city:before {
      content: ', ';
    }

    .google-maps {
      font-style: normal;
      font-size: 0.85rem;
      margin-left: 0.15rem;
      opacity: 0.75;
      &:before {
        content: '(';
        color: $body-color;
      }
      &:after {
        content: ')';
        color: $body-color;
      }
    }
  }

  .venue__tips {
    text-align: center;
    margin-top: 1.25rem;
  }

  .tip {
    margin-top: 0.75rem;

    .tip__text {
      margin-top: 0;
      margin-bottom: 0.25rem;
      padding: 0;
      font-style: italic;
      &:before {
        content: '“';
      }
      &:after {
        content: '”';
      }
    }

    img {
      border-radius: 50%;
      border: 1px solid $gray-300;
    }
    .name {
      margin-left: 0.25rem;
      font-weight: $fw-medium;
    }
  }


}
