// overide Bootstrap variables
//  - look into bootstrap/bootstrap/_variables.scss
//  - don't change anything in original files
//  - instead just copy the variable name here and assing your desired value

$primary: #e1e0dd;

$songkick: #F80046;
$lastfm: #D51007;
$spotify: #1ED760;
$youtube: #FF0000;
$facebook: #3B5998;
$instagram:#E4405F;
$foursquare: #F94877;
$google: #4285F4;

$fw-base: 400;
$fw-medium: 500;
$fw-bold: 700;


// import Bootstrap
@import 'bootstrap/bootstrap';

// import custom audio player
@import 'plyr/plyr';


// import Leaflet related CSS
@import 'leaflet/_leaflet.scss';
@import 'leaflet/_leaflet-icon.scss';
@import 'leaflet/_leaflet-visual-click.scss';

// custom css
@import 'components/_event-list';
@import 'components/_event-popup';


.sidebar {
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.main {
  width: 100%;
  height: 100vh;
}

.map {
  width: 100%;
  height: 100vh;
}

.loading {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;

  .loading__text {
    font-size: 1.5rem;
    font-weight: $fw-medium;
  }
}

.main {
  position: relative;
}

.layer-switch {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 999;
  color: #fff;
  border: 1px solid $gray-600;
  border-radius: 5px;
  min-width: 140px;
  padding: 0.25rem 1rem 0.25rem 2rem;
  background-color: rgba(#000, 0.5);

  input {
    display: inline-block;
    margin-top: 0.25rem;
  }

  label {
    line-height: 1;

    display: inline-block;
    margin-left: 0.15rem;
  }
}

.leaflet-control-layers {
  top: 3rem;
}

.day-switch {
  position: absolute;
  left: 1rem;
  top: 1rem;
  z-index: 999;
  max-width: 16rem;

  .v-select .dropdown-toggle {
    background: white;
  }
}

.v-select {
  max-width: 100%;
}

.v-select .dropdown-toggle {
  display: flex !important;
  flex-wrap: wrap;
  background: white;
}

.v-select input[type=search],
.v-select input[type=search]:focus {
  flex-basis: 20px;
  flex-grow: 1;
  height: 33px;
  padding: 0 20px 0 10px;
  width: 100% !important;
}

.v-select .clear {
  display: none !important;
}

.v-select input.form-control {
  width: 0;
}

.v-select.dropdown {
  width: 450px;
}
.v-select .selected-tag {
  position: absolute;
}
.v-select input.form-control {
  width: 100%;
}

.animated-icon {
  width: 20px;
  height: 20px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 50%;
  box-shadow: 0px 0px 4px white;
  transition: all 1s;
}
.no-vibe {
  text-align: center;
}
.leaflet-bottom {
  display: none !important;
}
.info-switch{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
  width: auto;
	padding:0;
	margin:0;
	background:none;
	border:0;
	font-size:0;
	line-height:0;

}
.info-switch:hover{
  background:none;
}
.icon-yellow{
  color: #FDD023;
  font-size: 1.5rem;
}
.modal-header{
  border-bottom: 0 !important;
}
.modal-body{
  // margin-left: auto !important;
  // margin-right: auto !important;
  padding: 2rem;
}
.modal-footer{
  border-top: 0 !important;
}

.data-title {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  img {
    display: block;
    width: 3rem;
    // height: 1rem;
    max-width: 100%;
    margin: 0 0.75rem;
  }
}

.disabled,
.disabled * {
  cursor: not-allowed !important;
}

.disabled * {
  background-color: #ddd !important;
}

.disabled * {
  color: #999 !important;
}

.explainer {
  background-color: #222;
  padding: 0.25rem;
  color: #eee;
  font-size: 0.8em;
  line-height: 1.5;
}
