// overide Bootstrap variables
//  - look into bootstrap/bootstrap/_variables.scss
//  - don't change anything in original files
//  - instead just copy the variable name here and assing your desired value
$primary: #e1e0dd;
$sidebar-width: 15vw;
$map-width: 100vw - $sidebar-width;

// import Bootstrap
@import 'bootstrap/bootstrap';

// import Leaflet related CSS
@import 'leaflet/_leaflet.scss';
@import 'leaflet/_leaflet-icon.scss';

#mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  // left: 0;
  width: $map-width;
}

.sidebar {
  width: $sidebar-width;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  border: 3px solid red;
}

.animated-icon {
  width: 20px;
  height: 20px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 50%;
  box-shadow: 0px 0px 4px white;
  transition: all 1s;
}
.leaflet-popup-tip {
  background-color: #000;
}
.leaflet-popup-content-wrapper{
  background: #000;
  border-style: solid;
  border-color: #50a882;;
}
.layer-switch {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 999;
}
.leaflet-popup-content{
  width:30vw !important;
}

.leaflet-control-attribution {
  background:rgba(#333, 0.75) !important;
  color: #999;
  a {
    color: #ccc;
  }
}

// event title related css
.event__event_title {
  font-size: 125%;
  font-weight: bold;
  margin-bottom: 2vh;
  font-style: italic;
  text-align: center;
  // background-color: #fcd000;
}
.event__event_title a{
  color: #50a882;
}
.event__title h2 {
  font-size: 125%;
  font-weight: bold;
}

// event artist related css
.event__artist {
  margin: 4vw 0;
  font-weight: bold;
  text-align: right;
  position: relative;
}
.event__artist img{
  width: 4vw;
  height:4vw;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0vw;
  bottom: 0;
}
.event__artist_section h3{
  font-size: 150%;
  font-weight: bold;
  text-align: left;
  color: #fff;
  border-bottom: solid 3px#50a882;
  display: inline-block;
  font-family: 'Roboto', sans-serif;

}
.event__artist h4 {
  font-size: 125%;
  display: inline-block;
  position: absolute;
  left: 5vw;
  bottom: 2vh;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.event__artist_section {
  margin: 4vh 0;
}
.event__artist_songkick{
  padding: 0.75vw;
  margin: 0vh 0.25vw 0;
  background-image: url("../../../assets_src/img/songkick_logo.jpeg");
  background-size:cover;
  display: inline-block;
  vertical-align: bottom;
}
.event__artist_spotify{
  padding: 0.75vw;
  margin: 0vh 0.25vw 0;
  background-image: url("../../../assets_src/img/spotify_logo.jpeg");
  background-size:cover;
  display: inline-block;
  vertical-align: bottom;
}
.event__artist_lastfm{
  padding: 0.75vw;
  margin: 0vh 1vw 0 0.25vw;
  background-image: url("../../../assets_src/img/lastfm_logo.jpeg");
  background-size:cover;
  display: inline-block;
  vertical-align: bottom;
}

// event venue related css
.event__venue_section h3{
  font-size: 150%;
  font-weight: bold;
  text-align: left;
  color: #fff;
  border-bottom: solid 3px#50a882;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
}
.event__venue_name h4{
  font-size: 125%;
  margin-top: 2vh;
  // margin-left: 1vh;
  font-weight: bold;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
}
.event__venue_name h4:hover{
  color: #50a882;
}
.event__venue_section h5{
  font-size: 125%;
  margin-left: 6vh;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  display: inline-block;
}
